@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #eaeaea;
    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav {
    padding: 40px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.InfoContainer {
    /* background-color: purple; */
    height: 58vh;
    width: 80vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.DevInfo {
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 2.5em
}

.moreabout {
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 2.2em;
    font-size: 8px;
}

.btn {
    padding: 9px;
    border-radius: 2em;
    color: black;
    background-color: #eaeaea;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a5a5a5;
}

.DevPic img {
    height: 58vh;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    margin-top: 10px;
}

.cross {
    margin-left: 110px;
    margin-top: 10px;
}

/* Responsive */

@media (max-width: 600px) {
    * {
        /* background-color: rgb(237, 122, 122); */
    }

    .buttons {
        font-size: 6px;
    }

    .DevInfo {
        font-size: 10px;
    }

    .DevPic {
        display: none;
    }

    .Intro,
    .BlogContainer,
    .ContactForm {
        margin: 50px 8px;
    }
}